@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root {
    --main-color:#3867d6;
}
*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; border: none;
    outline: none; text-decoration: none;
    text-transform: capitalize; transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}


/* nav start */

body {
    background: #222;
}

section{
    padding: 2rem, 9%;
}

.heading {
    text-align: center;
    padding: 7rem 0 2rem 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background: var(--main-color);
}
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #333;
    display: flex; 
    justify-content: space-between;
     align-items: center; 
     padding: 1.5rem 9%;
     
    /* border: 2px solid red; */

}

.header  .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

.header  .logo span {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
}

#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}



/* nav ends */


/* home start */
.home, .service, .about, .gallery, .feedback, footer {
    width: 90%;
    margin: auto;
    gap: 2rem;
}
.home .content{
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
    padding-bottom: 8rem;
}

.home .content h3 {
    color: #fff;
    font-size: 6rem;
    text-transform: capitalize;
}

.home .content  span{
    color: var(--main-color);
    font-size: 4rem;
    margin: 0;
    padding: 0;
    line-height: .3rem;
    text-transform: lowercase;
}


.swipper-cover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1rem;
}

.swipper-cover .swiper-slide {
    margin: auto;
    width: 100%;
}
.swipper-cover .swiper-slide img {
    width: 100%;
    height: 95%;
    margin: 1.8rem 0;
    border-radius: 1.4rem;
    object-fit: cover;
    border: 1rem solid #444;
}

.swipper-cover .swiper-slide img:hover {
   padding: 2rem ;
   background: transparent;
}
/* home ends */


/* service starts */
 .service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.service .box-container .box{
    border-radius: .5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;
}

.service .box-container .box:hover {
    transform: scaleX(1.02);
    margin-top: 3rem;
    background: chocolate;
}

.service .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main-color);
    color: #fff;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #eee;
    line-height: 1.8;
}

/* service end */


/* about start */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

 image {
    /* flex: 1 1 45rem; */
    width: 30rem;
    
 }

.image > img{
   width: 100%;
   border-radius: 2rem;
   border: 1rem solid #333;
   object-fit: cover;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    font-size: 3.5rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.7rem;
    font-weight: 500;
    color: #eee;
    padding: 1rem 0;
    line-height: 2;
}


/* gallery starts */
.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    gap: 1.5rem;
}
.gallery .box-container .box {
    position: relative;
    border: 1rem solid #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
   
}

.gallery .box-container .box img {
    height: 100%;
    filter:grayscale();
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box:hover img {
    transform: scale(1.1);
    filter:none;
}

.gallery .box-container .box .title {
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.gallery .box-container .box .icons{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: #333;
    text-align: center;
    padding-top: 1rem;
}

.gallery .box-container .box .icons a{
    font-size: 2rem;
    margin:.4rem 1rem;
    color: #fff;
}

.gallery .box-container .box .icons a:hover {
    color: var(--main-color);
}

/* gallery ends */


/* price start */

/* .price {
    width: 90%;
    margin: auto;
}

.price .box-contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2.5rem;
}

.price .box-contain .box{
    padding: 2rem 0;
    background: #333;
    border-radius: .5rem;
    text-align: center;
}

.price .box-contain .box:hover {
    transform: scale(1.03);
}

.price .box-contain .box h3 .title{
    background-color: var(--main-color);
    color: #fff;
    padding: 1.5rem 0;
    font-size: 2rem;
}

.price .box-contain .box .amount{
    color: #fff;
    padding: 2rem;
    font-size: 4rem;
}

.price .box-contain .box ul {
    list-style: none;
    padding: 1rem 0;
}

.price .box-contain .box ul li{
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
    color: #eee;
}

.price .box-contain .box ul li i{
   color: var(--main-color);
   padding-right: 1rem;
} */
/* price end */


/* feedback start */
/* .feedback .box {
    border-radius: .5rem;
    background: #333;
    padding: 2rem;
    position: relative;
}

.feedback .box:hover {
    background: olive;
}

.feedback .box .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--main-color);
    font-size: 6rem;
}

.swipe-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: auto;
}

.feedback .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.feedback .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .box .user h3 {
    font-size: 2rem;
    color: #fff;
}

.feedback .swipe-wrapper .swiper-slide p {
    font-size: 2rem;
    line-height: 3rem;
    text-transform: lowercase;
    color: #fff;
}

.feedback .box .user span {
    font-size: 1.5rem;
    color: #eee;
}

.feedback .box p {
    line-height: 2;
    color: #eee;
    padding: .5rem 0;
    font-size: 1.6rem;
} */

/* feedback ends */


/* contact start */
/* .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 4rem;
}


.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form  textarea{
    width: 100%;
    background: #333;
    border-radius: .5rem;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 3.5rem;
    color: #fff;
    text-transform: none;
}
.event {
    font-size: 2rem;
    display: flex;
    color: #fff;
    gap: 2rem;
}

.event input {
    margin-top: 3rem;
    flex-direction: column;
    font-size: 1.2rem;
    width: 3rem;
}

.contact form .inputBox input::placeholder {
    color: #fff;
    font-size: 2rem;
}


.contact form .inputBox input::placeholder,
.contact form  textarea::placeholder {
    color: #eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form  textarea:focus {
    color: #444;
}

.contact form .inputBox input {
    width: 49%;
}

.contact form  textarea {
    resize: none;
} */

/* contact end */


/* footer start */
/* .footer {
    background: #111;
    padding: 0 5rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color: #fff;
}

.footer .credit {
    text-align: center;
    border-top: 1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
} */

/* footer end */





/* @media (max-width:991px) {
   html {
    font-size: 55%;
   } 
   .header {
    padding:1.5rem 2rem;
   }

   section {
    padding: 2rem;
   }
}

@media (max-width:768px) {

    #menu-bars {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: 1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .fa-times {
        transform: rotate(180deg);
    }
    .header .navbar a {
        display: flex;
        background: #222;
        border-radius: 5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .swipe-wrapper {
        grid-template-columns:repeat(2, 1fr);
     }
} 

@media (max-width:450px) {
    html {
     font-size: 50%;
    } 
    .swipper-cover {
        grid-template-columns: (1fr);
    }

    .swipper-cover .swiper-slide img {
        display: block;

        width: 100%;
    }
    
    .home .home-slider .swiper-slide {

        width: 27rem;
    }
    .swipper-cover {
        display: grid;
        grid-template-columns: 1fr;
    }
    .swipe-wrapper {
       grid-template-columns: 1fr;
    }

    
.contact form .inputBox input {
    width: 100%;
}
.footer .box-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
}
 } */